body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(238, 236, 232);
}

header {
  text-align: center;
  margin: 5% auto;
}

ul {
  display: inline;
}

li {
  display: inline;
  list-style: none;
  padding: 5% 5%;
  line-height: 2.5em;
}

a {
  text-decoration: none;
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 1.5em;
  font-weight: bolder;
  color: rgb(54, 54, 54);
}

hr {
  margin: 4% auto;
}

h1 {
  font-family: 'Just Me Again Down Here', cursive;
}

.top {
  font-size: 1em;
}

footer {
  text-align: center;
  margin: 5% auto;
}

@media only screen and (max-width: 600px) {
  ul {
    display: block;
  }

  li {
    display: block;
    padding: 4% 5%;
    line-height: 1em;
  }
}
