body {
  font-family: 'Roboto', sans-serif;
  background-color: #eeece8;
}

header {
  background-image: url('diamonds.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
  text-align: center;
  padding: 5% auto 0;
}

ul {
  display: inline;
}

li {
  display: inline;
  list-style: none;
  padding: 5% 5%;
  line-height: 2.5em;
}

a {
  text-decoration: none;
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 1.5em;
  font-weight: bolder;
  color: rgb(22, 22, 22);
}

hr {
  margin: 4% auto;
}

h1 {
  font-family: 'Just Me Again Down Here', cursive;
}

.top {
  font-size: 1em;
  color: rgb(54, 54, 54);
}

footer {
  text-align: center;
  margin: 5% auto;
}

@media only screen and (max-width: 600px) {
  ul {
    display: block;
  }

  li {
    display: block;
    padding: 4% 5%;
    line-height: 1em;
  }
}
